<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="general"
        label="GENERAL"
        >
        <field
            name="spacer1" 
            type="spacer" 
            label="FOLDERS_PATH_WARNING"
            class="text"
        />
        <field
            name="file_path"
            type="text"
            label="PATH_FILE_FOLDER"
            description="PATH_FILE_FOLDER_DESC" 
            size="50"
            default="images"
        />
        <field
            name="image_path"
            type="text"
            label="PATH_IMAGE_FOLDER"
            description="PATH_IMAGE_FOLDER_DESC"
            size="50"
            default="images"
        />
    </fieldset>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
        >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            validate="rules"
            filter="rules"
            component="com_bagallery"
            section="component" />
    </fieldset>
</config>
